<h1>Bienvenidos a JetMaintain </h1>


<div class="container">
    <div class="row">
    <div class="col-4">
        <%= Faker::Lorem.paragraph %>
        <%= Faker::Lorem.paragraph %>
        <%= Faker::Lorem.paragraph %>
    </div>
    <div class="col-4">
<%= image_tag("reactionengine.jpg", size: "270x270") %>
    </div>
    <div class="col-4">
            <%= Faker::Lorem.paragraph %>
        <%= Faker::Lorem.paragraph %>
        <%= Faker::Lorem.paragraph %>
    </div>
    </div>

</div>


<div class="container">
    <div class="row">
    <div class="col-4">
        <%= Faker::Lorem.paragraph %>
        <%= Faker::Lorem.paragraph %>
        <%= Faker::Lorem.paragraph %>
    </div>
    <div class="col-4">
            <%= Faker::Lorem.paragraph %>
        <%= Faker::Lorem.paragraph %>
        <%= Faker::Lorem.paragraph %>
    </div>
    <div class="col-4">
            <%= Faker::Lorem.paragraph %>
        <%= Faker::Lorem.paragraph %>
        <%= Faker::Lorem.paragraph %>
    </div>
    </div>

</div>