<%= form_with(model: maintenance) do |form| %>
  <% if maintenance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(maintenance.errors.count, "error") %> prohibited this maintenance from being saved:</h2>

      <ul>
        <% maintenance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :datedoit, style: "display: block" %>
    <%= form.date_field :datedoit %>
  </div>

  <div class="mt-3">
    <%= form.label :emailtech, style: "display: block" %>
    <%= form.email_field :emailtech %>
  </div>

  <div class="mt-3">
    <%= form.label :dateman, style: "display: block" %>
    <%= form.date_field :dateman %>
  </div>

  <div class="mt-3">
    <%= form.label :engine_id, style: "display: block" %>
    <%= form.select :engine_id, Engine.all.collect {|c| [c.name, c.id] }  %>
  </div>

  <div class="mt-3">
    <%= form.label :typeequipment_id, style: "display: block" %>
     <%= form.select :typeequipment_id, Typeequipment.all.collect {|c| [c.name, c.id] } %>
  </div>

  <div class="mt-3">
    <%= form.label :maintenancetype_id, style: "display: block" %>
    <%= form.select :maintenancetype_id, Maintenancetype.all.collect {|c| [c.name, c.id] } %> 
  </div>

  <div class="mt-3">
    <%= form.label :city_id, style: "display: block" %>
    <%= form.select :city_id, City.all.collect {|c| [c.name, c.id] } %> 
  </div>

  <div class="mt-3">
    <%= form.label :usedmaterial_id, style: "display: block" %>
    <%= form.select :usedmaterial_id, Usedmaterial.all.collect {|c| [c.name, c.id] } %> 
  </div>

  <div class="mt-4">
    <%= form.submit "Grabar", class: "btn btn-success" %>
   
  </div>
<% end %>
