<div id="<%= dom_id maintenance %>">
  <p>
    <strong>Datedoit:</strong>
    <%= maintenance.datedoit %>
  </p>

  <p>
    <strong>Emailtech:</strong>
    <%= maintenance.emailtech %>
  </p>

  <p>
    <strong>Dateman:</strong>
    <%= maintenance.dateman %>
  </p>

  <p>
    <strong>Engine:</strong>
    <%= maintenance.engine.name %>
  </p>

  <p>
    <strong>Typeequipment:</strong>
    <%= maintenance.typeequipment.name%>
  </p>

  <p>
    <strong>Maintenancetype:</strong>
    <%= maintenance.maintenancetype.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= maintenance.city.name %>
  </p>

  <p>
    <strong>Usedmaterial:</strong>
    <%= maintenance.usedmaterial.name %>
  </p>

</div>
